<div class="container clearfix">
    <div class="income">
        <h2 class="income__title">Income</h2>

        <div class="income__list">

            <!-- Income Items -->

        </div>
    </div>

    <div class="savings">
        <h2 class="savings__title">Savings</h2>

        <div class="savings__list"></div>

    </div>

    <div class="expenses">
        <h2 class="expenses__title">Expenses</h2>

        <div class="expenses__list">
            <!-- Expenses Items -->
        </div>
    </div>
</div>