<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>BUDGET APP</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600" rel="stylesheet" type="text/css">
    <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/f3c7b02494.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css">


</head>

<body>
<div class="main-content">
    <div class="container a-container">
        <div class="log-in left">
            <h1>hello</h1>
        </div>
        <div class="register right">

        </div>
    </div>

    <div class="bottom">

    </div>
    <div class="testOutput">

    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.js"></script>
<script src="js/bundle.js"></script>

</body>

</html>