<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>BUDGET APP</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600" rel="stylesheet" type="text/css">
    <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/f3c7b02494.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css">


</head>

<body>
<div class="main-content">
    <div class="container a-container">
        <div class="log-in left">
            <h1>Log In</h1>
            <form method="post" action="/users/login">
                <input type="email" class="" id="loginEmail"  placeholder="Enter your email... " value="swflack@gmail.com">
                <input type="password" class="" id="loginPassword" placeholder="Enter your password...." value="amber1995">
                <button type="submit" id="loginSubmit">Log In</button>
            </form>
        </div>
        <div class="register right">
            <h1>Register</h1>
            <form method="post" action="/users">
                <input type="text" class="" id="registerFirstName" placeholder="First Name....">
                <input type="email" class="" id="registerEmail" placeholder="Email...">
                <input type="password" class="" id="registerPassword" placeholder="Password">
                <button type="submit" id="registerSubmit">Register</button>
            </form>
        </div>
    </div>

    <div class="bottom">

    </div>
    <div class="testOutput">

    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.js"></script>
<script src="js/authentication.js"></script>

</body>

</html>