<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>BUDGET APP</title>
    <link rel="stylesheet" href="css/styles.css">


</head>

<body>
<div class="main-content">
    <h1>{{title}}</h1>

</div>
<script src="js/app.js"></script>

</body>

</html>