<div class="add">
    <div class="add__container">
        <select class="add__type" id="addType">
            <option value="inc" selected>+</option>
            <option value="exp">-</option>
            <option value="sav"><</option>
        </select>
        <input type="text" class="add__description" placeholder="Add description" id="addDesc">
        <input type="number" class="add__value" placeholder="Value">
        <button id='add_btn' class="add__btn btnDisplay"><i class="ion-ios-checkmark-outline"></i></button>
    </div>
</div>

<!-- Edit modal -->
<div class="edit">
    <div class="edit_center modal">
        <div class="modal-content" style="text-align: center">
        <a href="#!" class="modal-close"><i class="fas fa-times"></i></a>
        <h3>Edit Budget Item</h3>
        </div>
        <div class="edit__container">

            <select class="add__type" id="editType">
                <option value="inc" selected>+</option>
                <option value="exp">-</option>
                <option value="sav"><</option>
            </select>
            <input type="text" class="add__description" placeholder="Add description" id="editDesc">
            <input type="number" class="add__value" placeholder="Value" id="editValue">
        </div>
        <div class="edit__container modal-footer">
            <button id='edit_btn' class="edit__btn"><i class="far fa-edit"></i></button>
        </div>
    </div>

  </div>

</div>